# Visual Studio codes
/.vscode/

# Pycaches
*.pyc

# Database
*.db

# static images under sub-folder of users
/app/static/images/*/
/app/static/clients/*/

# environment file
.env
/envs

# trained_models folders
/app/disease_prediction_models/*/

# migrations folder
/migrations

# log files
/logs/*.log