# Visual Studio codes
/.vscode/

# Pycaches
*.pyc

# Database
*.db

# static images under sub-folder of users
/app/static/images/*/

# environment file
.env
/envs

# trained_models folders
/app/tf_disease_classifier/trained_models/*/