alembic==1.0.10
aniso8601==6.0.0
autopep8==1.4.4
blinker==1.4
certifi==2019.3.9
chardet==3.0.4
Click==7.0
entrypoints==0.3
flake8==3.7.7
Flask==1.0.3
Flask-Cors==3.0.7
Flask-JWT-Extended==3.18.2
Flask-Mail==0.9.1
flask-marshmallow==0.10.1
Flask-Migrate==2.4.0
Flask-OAuthlib==0.9.5
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
Mako==1.0.10
MarkupSafe==1.1.1
marshmallow==3.0.0rc6
marshmallow-sqlalchemy==0.16.3
mccabe==0.6.1
oauthlib==2.0.1
Pillow==6.0.0
pipdeptree==0.13.2
psycopg2==2.8.2
pycodestyle==2.5.0
pyflakes==2.1.1
PyJWT==1.7.1
PySocks==1.7.0
python-dateutil==2.8.0
python-dotenv==0.10.2
python-editor==1.0.4
pytz==2019.1
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
SQLAlchemy==1.3.3
twilio==6.27.0
urllib3==1.25.2
Werkzeug==0.15.4
